fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
cryptography==42.0.5
PyJWT==2.8.0
couchbase==4.3.6
pydantic>=2.6.1
pydantic-settings>=2.6.1
bcrypt==4.0.1
jwcrypto==1.5.6
opentelemetry-api>=1.20.0
opentelemetry-sdk>=1.20.0
opentelemetry-exporter-otlp-proto-http>=1.20.0
opentelemetry-instrumentation-fastapi>=0.45b0
opentelemetry-instrumentation-httpx>=0.45b0
prometheus_client>=0.19.0
